:root{
    font-family: Hack Mono;
    font-size: 16px;
    line-height: 24px;

    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* Base Surface Colors */  
    --surface-primary: #191919;      /* Main background */
    --surface-secondary: #222222;    /* Sidebar/secondary panels */
    --surface-tertiary: #202020;     /* Deepest backgrounds */
    --surface-tooltip: #282828;      /* Tooltips/popovers */
    --surface-highlight: #2d2d2d;    /* Highlighted areas */
    --surface-dark: #191919;         /* Dark panels */
    --surface-search: #6199ff2f;     /* Search background */

    /* Text Colors */
    --text-primary: #f8f8f2;         /* Primary text */
    --text-secondary: #d7813a;       /* Secondary/muted text */
    --text-comment: #707070;          /* Comments, subdued text */
    
    /* Syntax Highlighting */
    --syntax-types: #d7a73a;       /* Types, classes, namespaces */
    --syntax-properties: #9abbed;        /* Properties, deleted */
    --syntax-operators: #bd93f9;         /* Operators, URLs */
    --syntax-strings: #7fa55f;         /* Strings */
    --syntax-functions: #99bd43;       /* Functions */
    --syntax-constants: #ff6666;      /* Constants */
    --syntax-keywords: #e74e78;       /* Keywords */
    --syntax-invalid: #ffffff;      /* Invalid code */
    --syntax-braces: #9696964d;
  
    /* UI Element Colors */
    --accent-cursor: #528bff;       /* Cursor */
    --accent-selection: #ffffff1a;    /* Selection background */
    --accent-highlight:  #ffffff1a;   /* Active line */ 
    --accent-match: #ffffff33;     /* Search matches */
    --accent-search: #457dff;       /* Search outline */
    --accent-fold: #ddd;


    /* Interactive Element Colors */
    --interactive-hover: #2c2c2c;    /* Hover states */
    --interactive-active: #56b6c2;   /* Active indicators */
    --interactive-border: #2c313a;   /* Borders */
    --interactive-selection: #9696964d;

    /* Terminal Colors */
    --terminal-background: #131313;  /* Terminal background */

    --gradient-1: #d7a73a;
    --gradient-2: #e74e78;
}

body{
    background-color: var(--surface-secondary);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--surface-highlight); /* highlightBackground */
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--accent-selection); /* selection */
    border-radius: 5px;
    border: 2px solid var(--surface-highlight); /* highlightBackground */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--text-primary); 
  }
  
  /* Corner */
  ::-webkit-scrollbar-corner {
    background: var(--surface-primary); /* background */
  }
  
.container{
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
  position: relative;
}

.app-container{
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.gradient-text{
  background: linear-gradient(to right, var(--gradient-1), var(--gradient-2));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

#landing-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-secondary);
  background-color: var(--surface-primary);
  z-index: 0;
  padding: 20px;
}

@font-face {
    font-family: "Hack Mono";
    src: url("../assets/fonts/hack/HackNerdFontMono-Regular.ttf");
}

@font-face {
    font-family: "Hack Mono";
    src: url("../assets/fonts/hack/HackNerdFontMono-Italic.ttf");
    font-style: italic;
}