.tab-bar{
  background-color: #22252c;
  color: #abb2bf;
}

.tab-container{
  display: inline-block;
  padding: 10px;
  border: 2px solid #22252c;
}
  
.tab {
  display: inline-block;
  padding: 10px;
  background: none;
  border: none;
  color: #abb2bf;
}

.tab.active{
  font-style: italic;
}

.tab-container:hover{
  cursor: pointer;
}

.tab-container.active{
  border-bottom-color: #abb2bf;
  background-color: #282c34;
}

.close-tab{
  background: none;
  border: none;
  font-family: inherit;
  color: #abb2bf;
}

.close-tab:hover{
  cursor: pointer;
  color: #ccc;
  background-color: #353a41;
  border-radius: 5px;
}

.add-tab{
  font-family: inherit;
  background: none;
  border: none;
  color: #abb2bf;
  cursor: pointer;
}

.add-tab:hover{
  color: #ccc;
  background-color: #353a41;
  border-radius: 5px;
}

.tab-modified {
  color: #56b6c2;
  margin-left: 5px;
  font-weight: bold;
}

.tab-component{
  display: none;
}

.tab-component.active{
  display: block
}