#content-container{
    padding: 0.5rem;
}

.content-button{
    font-family: "Hack Nerd Font", monospace;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    white-space: pre-wrap;
    color: #abb2bf;
}