html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    display: flex;
}

main{
    font-family: "Hack Nerd Font" monospace;
    position: absolute;
    display: flex;
    padding: none;
    max-width: 100%;
    height: 100%;
    width: 100%;
    flex-direction: row;
  }