html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
} 

.editor{
    padding: 0;
    flex-grow: 1;
    height: 100vh;
    width: 100vw;
}

.cm-editor {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.cm-tooltip-autocomplete {
    background-color: #353a42;
    color: #abb2bf;
    border: 1px solid #2c313a;
}

.cm-tooltip-autocomplete .cm-completionLabel {
    color: #e5c07b;
}

.cm-tooltip-autocomplete .cm-completionDetail {
    color: #7d8799;
}

.cm-tooltip-autocomplete .cm-completionMatchedText {
    color: #fff;
}

.cm-tooltip-autocomplete .cm-completionActive {
    background-color: #7d8799;
    color: #fff;
    font-weight: bold;
}

.cm-tooltip.cm-tooltip-autocomplete > ul > li {
    background-color: #21252b;
    color: #abb2bf;
}

.cm-tooltip.cm-tooltip-autocomplete > ul > li[aria-selected] {
    background-color: #2c313a;
    color: #fff;
}

.cm-completionIcon-keyword::after {
    font-family: Hack Mono;
    font-size: 16px;
    line-height: 24px;

    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    content: "\eb62" !important;
}

.cm-completionIcon-function::after, .cm-completionIcon-method::after {
    font-family: Hack Mono;
    font-size: 16px;
    line-height: 24px;

    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    content: "\ea8c" !important;
}

.cm-completionIcon-class::after {
    font-family: Hack Mono;
    font-size: 16px;
    line-height: 24px;

    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    content: "\eb5b" !important;
}

.cm-completionIcon-interface::after {
    font-family: Hack Mono;
    font-size: 16px;
    line-height: 24px;

    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    content: "\eb61" !important;
}

.cm-completionIcon-variable::after {
    font-family: Hack Mono;
    font-size: 16px;
    line-height: 24px;

    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    content: "\ea88" !important;
}

.cm-completionIcon-constant::after {
    font-family: Hack Mono;
    font-size: 16px;
    line-height: 24px;

    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    content: "\eb5d" !important;
}

.cm-completionIcon-type::after {
    font-family: Hack Mono;
    font-size: 16px;
    line-height: 24px;

    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-size: 75%;
    align-content: center;
    content: "\f121" !important;
}

.cm-completionIcon-enum::after {
    font-family: Hack Mono;
    font-size: 16px;
    line-height: 24px;

    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    content: "\ea95" !important;
}

.cm-completionIcon-property::after {
    font-family: Hack Mono;
    font-size: 16px;
    line-height: 24px;

    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    content: "\eb65" !important;
}

.cm-completionIcon-namespace::after {
    font-family: Hack Mono;
    font-size: 16px;
    line-height: 24px;

    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    content: "\ea8b" !important;
}

@font-face {
    font-family: "Hack Mono";
    src: url("../../assets/fonts/hack/HackNerdFontMono-Regular.ttf");
}

@font-face {
    font-family: "Hack Mono";
    src: url("../../assets/fonts/hack/HackNerdFontMono-Italic.ttf");
    font-style: italic;
}